@import "bourbon";


.gallery-album-admin {
  width: 300px;
  display: inline-block;
  margin: 10px;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  border-bottom-width: 2px;
  vertical-align: top;

  p {
    padding: 0px 5%;
  }

  h3 {
    padding: 0px 5%;
    font-weight: 200;
  }


}


.gallery-album {
  outline: none;
  h3 {
    font-weight: 200;
  }

  
}

.gallery-album-photos {
  outline: none;
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #FFF;
  
  &:-webkit-full-screen {
    height: 100%;
  }

  .gallery-fullscreen {
    @include transition(all 0.1s ease-in-out);
    position: absolute;
    width: 30px;
    height: 20px;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);

    &:hover {
      @include transform(scale(1.2));
      cursor: pointer;
      background-color: rgba(255,255,255,1);        
    }

  }

  &:hover .gallery-fullscreen {
    background-color: rgba(255,255,255,0.7);
  }

  &.fullscreen .gallery-fullscreen:hover {
    @include transform(scale(0.8));
  }

  .gallery-arrow-left, .gallery-arrow-right {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 45%;
    z-index: 10;
    &:after, &:before {
      background: rgba(255,255,255,0.3);
      -moz-border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      border-radius: 0.2em;
      content: "";
      display: block;
      height: 0.5em;
      position: absolute;
      right: 0;
      width: 2em;
    }
  }

  &:hover .gallery-arrow-left, &:hover .gallery-arrow-right {
    &:after, &:before {
      background: rgba(255,255,255,0.7);
      // width: 3em;        
    }
  }

  .gallery-arrow-left:hover, .gallery-arrow-right:hover {
    cursor: pointer;
    &:after, &:before {
      background: rgba(255,255,255,1);  
    }
  }

  .gallery-arrow-right {
    right: 10px;
    
    &:after {
      bottom: 2em;
      @include transform(rotate(45deg));
    }
    &:before {
      bottom: 1em;
      @include transform(rotate(-45deg));
    }
  }

  .gallery-arrow-left {
    left: 10px;
    
    &:after {
      bottom: 1em;
      @include transform(rotate(45deg));
    }
    &:before {
      bottom: 2em;
      @include transform(rotate(-45deg));
    }
  }

  &.small {
    .gallery-arrow-left {
      left: 0px;
    }
  }

  &:after {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    box-shadow: inset 2px 2px 10px #aaa, inset -2px -2px 10px #aaa;
  }

  .gallery-spinner {
    position: absolute;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    top: 0px;
    right: 0px;
  }
}

.gallery-album-photos-canvas {
  outline: none;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  img {
    @include transition(all 1s ease-in-out);
    display: inline-block;
    height: 92.5%;
    margin-top: 0.675%;
    
    max-width: 1000000px;
    vertical-align: top;
    border-radius: 12px;
    opacity: 0;

    &.loaded {
     opacity: 1;
     margin-left: 2px;
     margin-right: 2px;
    }
  }
}

#gallery-fallback-fullscreen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}